*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

body {
    height: 100vh;
    /* background: linear-gradient(
        135deg,
        #6f6df4,
        #4c46f5
    ); */
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    width: 70%;
    min-width: 420px;
    padding: 35px 50px;
    border-radius: 10px;
    box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.15);
}

h1 {
    font-size: 30px;
    text-align: center;
    color: #1c093c;
}

form {
    width: 45%; /* Adjust as needed */
    margin-top: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column {
    flex: 1;
    margin-right: 10px;
}

label {
    color: #1c093c;
    font-size: 14px;
}

textarea,
input {
    width: 100%;
    font-weight: 400;
    padding: 10px;
    border-radius: 5px;
    border: 1.2px solid #c4cae0;
    margin-top: 5px;
}

textarea {
    resize: none;
}

textarea:focus,
input:focus {
    outline: none;
    border-color: #6f6df4;
}

button {
    border: none;
    padding: 10px 20px;
    background: linear-gradient(130deg, #6f6df4, #4c46f5);
    color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

#map-container {
    width: 45%; /* Adjust as needed */
    height: 400px; /* Adjust the height as needed */
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

#map {
    width: 100%;
    height: 100%;
}
